In [1]:
a=100
b=99+1
print(a is b)

True

In [3]:
a=100
b=99+1
print(a == b)
print(ia=100
d(a))
print(id(b))

True
2973628257744
2973628257744

In [8]:
#CONCATENATE THE NUMBERS
a = input("Enter the first number:")
b = input("Enter the second number:")
print(a+b)

Enter the first number:3
Enter the second number:5
35

In [13]:
#IF-ELSE USE
y = int(input("Enter year:"))
if y % 4 == 0 and  y % 100 != 0 or y % 400 == 0 :
   print(y,"is a leap year")
else:
   print(y,"is not a leap year")

Enter year:2002
2002 is not a leap year

In [14]:
#Swapping
a = int(input("Enter the first number:"))
b = int(input("Enter the second number:"))
temp = a
a = b
b = temp
print("Swap values are a = ",a,"and b =",b)

Enter the first number:23
Enter the second number:34
Swap values are a =  34 and b = 23

In [15]:
a = int(input("Enter a numbr:"))

Enter a numbr:23

In [18]:
#Factorial
a = int(input("Enter a number:"))
f = 1
for i in range(1,a+1):
    f*=i
    print("Factorial is:",f)

Enter a number:5
Factorial is: 1
Factorial is: 2
Factorial is: 6
Factorial is: 24
Factorial is: 120

In [24]:
#prime or not
b = int(input("Enter a number:"))
for i in range(2,b):
    if b % i == 0:
        print(b,"is not prime")
        break
    else:
        print(b,"is prime")

Enter a number:7
7 is prime
7 is prime
7 is prime
7 is prime
7 is prime

In [26]:
#PARALLEL MULTIPLICATION TABLE 
a = int(input("Enter the first number:"))
b = int(input("Enter the second number:"))
while(a and b) > 0:
    print(a,"x",b,"=",a*b)
    a -= 1 #a=a-1
    b -= 1 #b=b-1

Enter the first number:5
Enter the second number:4
5 x 4 = 20
4 x 3 = 12
3 x 2 = 6
2 x 1 = 2

In [27]:
a = int(input("Enter the first number:"))
b = int(input("Enter the second number:"))
n = int(input("Enter the number upto which you want the series:"))
for i in range(2,n+1):
    a,b = b,a + b
    print(a,end = ' ')

Enter the first number:1
Enter the second number:1
Enter the number upto which you want the series:12
1 2 3 5 8 13 21 34 55 89 144

In [28]:
a = [1,2,3,4,5]
b = []
for i in a:
    b.append(i)
    print(b)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [30]:
a = [1,2,3,4,5]
b = []
for i in a:
    b.append(i**2)
print(b)

[1, 4, 9, 16, 25]

In [31]:
a = [1,2,3,4,5,6,7,8,9,10,15,20]
b = []
for i in a:
    if i>5:
        b.append(i**2)
print(b)

[36, 49, 64, 81, 100, 225, 400]

a = [1,2,3,4,5,6,7,8,9,10,15,20]
b = []
for i in a:
    if i % 5 == 0:
        b.append(i**2)
    else:
        b.append(i)
print(b)

In [33]:
a = [1,2,3,4,5,6,7,8,9,10,15,20]
b = []
for i in a:
    if i % 5 == 0 and i % 2 == 0:
        b.append(i)
print(b)

[10, 20]

# List Comprehension

In [34]:
a = [1,2,3,4,5]
b = [i for i in a]
print(b)

[1, 2, 3, 4, 5]

In [36]:
a = [1,2,3,4,5,6,7,8,9,10,15,20]
b = [i for i in a if i % 5 == 0 and i % 2 == 0]
print(b)

[10, 20]

In [37]:
a = [1,2,3,4,5,6,7,8,9,10,15,20]
b = [i for i in a if i > 5]
print(b)

[6, 7, 8, 9, 10, 15, 20]

In [38]:
a = [1,2,3,4,5,6,7,8,9,10,15,20]
b = [i**2 if i % 5 == 0 else i for i in a]
print(b)

[1, 2, 3, 4, 25, 6, 7, 8, 9, 100, 225, 400]

# Tuples

In [39]:
a = (1,2,3,4,5,6,7)
print(a)

(1, 2, 3, 4, 5, 6, 7)

In [41]:
a = (1,2,3,4,5,6,7)
print(a)
a.remove(a)

(1, 2, 3, 4, 5, 6, 7)

AttributeError: 'tuple' object has no attribute 'remove'

In [42]:
a = 1,2,3,4
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [43]:
a = 'python','is','fun'
print(type(a))

<class 'tuple'>

In [44]:
a = 'python'
print(type(a))

<class 'str'>

In [45]:
a = [1,2,3,4,5]
b = (i for i in a)
print(b)

<generator object <genexpr> at 0x000002B45EB2ADD0>

In [46]:
a = [1,2,3,4,5]
b = tuple(a)
print(b)

(1, 2, 3, 4, 5)

In [47]:
a = [1,2,3,4,5]
b = list(a)
print(b)

[1, 2, 3, 4, 5]

In [50]:
from platform import python_version
print(python_version())

3.9.7

In [53]:
!pip install abhiprime

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000002C5FC29A490>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/abhiprime/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000002C5FC29A130>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/abhiprime/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000002C5FC29AA90>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/abhiprime/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000002C5FC29AC40>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/abhiprime/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000002C5FC29ADF0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/abhiprime/
ERROR: Could not find a version that satisfies the requirement abhiprime (from versions: none)
ERROR: No matching distribution found for abhiprime

In [54]:
!pip install abhiprime
import abhiprime as ap
ap.test_prime(100)

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001B31FD99490>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/abhiprime/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001B31FD99130>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/abhiprime/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001B31FD99A90>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/abhiprime/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001B31FD99C40>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/abhiprime/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001B31FD99DF0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/abhiprime/
ERROR: Could not find a version that satisfies the requirement abhiprime (from versions: none)
ERROR: No matching distribution found for abhiprime

ModuleNotFoundError: No module named 'abhiprime'

In [60]:
#VOWELS
a = 'python is fun'
vowels = 0
for i in a:
    if(i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u'):
      vowels+=1
print("No of vowels in string are:",vowels)

No of vowels in string are: 3

In [61]:
n = 786
count = 0
while n > 0:
    count+=1
    n//=10
print("The number of digits are:",count)

The number of digits are: 3

In [62]:
for i in range(0,4):
    print(i)

0
1
2
3

In [63]:
for i in range(0,4):
    print(i,end=" ")

0 1 2 3

In [64]:
for i in range(0,4):
    print(i,end=" ")
print()
for i in range(0,4):
    print(i,end=" ")

0 1 2 3
0 1 2 3

In [65]:
for i in range(0,4):
    print(i,end=" ")
print()
for i in range(0,4):
    print(i,end=" ")
print()
for i in range(0,4):
    print(i,end=" ")
print()
for i in range(0,4):
    print(i,end=" ")
print()

0 1 2 3
0 1 2 3
0 1 2 3
0 1 2 3

In [66]:
for a in range(0,4):
    for i in range(0,4):
        print('*',end=" ")
    print()

* * * *
* * * *
* * * *
* * * *

In [69]:
a = int(input("Enter a number:"))
for i in range(a):
    for j in range(i+1):
        print('*',end=" ")
    print()

Enter a number:6
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [70]:
a = int(input("Enter a number:"))
for i in range(a):
    for j in range(a-i):
        print('*',end=" ")
    print()

Enter a number:5
* * * * *
* * * *
* * *
* *
*

In [71]:
for i in range(3):
    print(i)

0
1
2

In [73]:
a = int(input("Enter a number:"))
for i in range(a):
    for j in range(a+i):
        print('*',end=" ")
    print()

Enter a number:3
* * *
* * * *
* * * * *

In [74]:
a = int(input("enter the number:"))
for i in range(a):
    for j in range(a+i):
        print(i,end=" ")
    print()

enter the number:3
0 0 0
1 1 1 1
2 2 2 2 2

In [75]:
a = {1,2,3,4,5}
print(a)
print(type(a))

{1, 2, 3, 4, 5}
<class 'set'>

# Dictionaries

In [1]:
a = {'tony','ironman'}
print(a)
print(type(a))

{'ironman', 'tony'}
<class 'set'>

In [2]:
a = {'tony':'ironman'}
print(a)
print(type(a))

{'tony': 'ironman'}
<class 'dict'>

In [3]:
a = {'tony':'ironman','rony':'spiderman'}
print(a)
print(type(a))

{'tony': 'ironman', 'rony': 'spiderman'}
<class 'dict'>

In [4]:
a = {}
print(type(a))

<class 'dict'>

In [5]:
a = set()
print(type(a))

<class 'set'>

In [6]:
a = set(a)
print(type(a))

<class 'set'>

In [7]:
a = {1,2,3,4}
print(a)
print(type(a))

{1, 2, 3, 4}
<class 'set'>

In [10]:
a = 'c++'
b = {}
for i in a:
    if i in b:
        b[i]+=1 # b[i]=b[i]+1
    else:
        b[i]=1
print(b)

{'c': 1, '+': 2}

In [1]:
a = {'tony':'ironman','steva':'caption','bruca':'emily'}
print(a)

{'tony': 'ironman', 'steva': 'caption', 'bruca': 'emily'}

In [2]:
a = {'tony':'ironman','steva':'caption','bruca':'emily','tony':'stuart'}
print(a)

{'tony': 'stuart', 'steva': 'caption', 'bruca': 'emily'}

In [3]:
a['tony']

'stuart'

In [4]:
a.keys()

dict_keys(['tony', 'steva', 'bruca'])

In [5]:
a.values()

dict_values(['stuart', 'caption', 'emily'])

In [6]:
a.items()

dict_items([('tony', 'stuart'), ('steva', 'caption'), ('bruca', 'emily')])

In [8]:
#ROMAN NUMBERS
int_rom=[(1000,'M'),(900,'CM'),(500,'D'),(400,'CD'),(100,'C'),(90,'XC'),(50,'L'),(40,'XL'),(10,'X'),(5,'V'),(4,'IV'),(1,'I')]
num=int(input("Enter a number:"))
roman=" "
while num>0:
    for i,r in int_rom:
        while num>=i:
            roman+=r
            num-=i
      
    print("The roman values is: ",roman)

Enter a number:45
The roman values is:   XL
The roman values is:   XLV

In [2]:
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
if a>b:
    greater=a
else:
    greater=b
    while True:
        if(greater%a==0)and(greater%b==0):
         lcm_is=greater
         break
         greater+=1
         print("lcm is: ",lcm_is)

Enter first number:4
Enter second number:56

In [1]:
#REMOVE THE DUPLICATE ELEMENTS
a=[4,5,9,8,7,6,5,4]
b=[]
for i in a:
    if i not in b:
        b.append(i)
print(b)

[4, 5, 9, 8, 7, 6]

In [3]:
a=[4,5,9,8,7,6,5,4]
b=set(a)
print(b)
c=list[b]
print(c)

{4, 5, 6, 7, 8, 9}
list[{4, 5, 6, 7, 8, 9}]

In [1]:
a=[4,5,9,8,7,6,5,4]
b=set(a)
print(b)
c=list(b)
print(c)

{4, 5, 6, 7, 8, 9}
[4, 5, 6, 7, 8, 9]

In [2]:
a=[4,5,9,8,7,6]
b=[9,5,7,6,11,4]
c=[]
for i in a:
    if i in b:
        c.append(i)
print(c)

[4, 5, 9, 7, 6]

In [3]:
a=[3,4,5,9,0]
b=len(a)
print(b)

5

In [6]:
a=[3,4,5,9,0]
if len(a)%2==0:
    b=len(a)//2
    c=len(a)//2-1
    print(a[b],a[c])
else:
    b=len(a)//2
    print(a[b])

5

In [7]:
a=[3,4,5,9,0]
if len(a)%2==0:
    b=len(a)//2
    c=len(a)//2-1
    print(a[b],a[c])
else:
    b=len(a)//2
    print(a[b])

5

In [9]:
l=list(range(1,51))
print(l)
count=0
a=int(input("Enter a no:"))
for i in l:
    if i%a==0:
        count=count+1
print(count)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
Enter a no:3
16

In [10]:
#CREATE A USER DEFINED LIST OF 5 NUMBERS AND FIND THE AVERAGE
num=int(input("Enter the total no you want in the list:"))
l=[]
for i in range(0,5):
    sub=int(input("Enter the subject marks:"))
    l.append(sub)

Enter the total no you want in the list:56
Enter the subject marks:78
Enter the subject marks:89
Enter the subject marks:90
Enter the subject marks:65
Enter the subject marks:78

In [11]:
print(i)
avg=sum(l)/len(l)
print("The average score is:",avg)

4
The average score is: 80.0

In [12]:
a='python'
print(list(a))

['p', 'y', 't', 'h', 'o', 'n']

In [1]:
str_1 = input("Enter the string:")
str_2 = reversed(str_1)
print(str_2)

Enter the string:wet
<reversed object at 0x000001594AF78850>

In [3]:
str_1 = input("Enter the string:")
str_2 = reversed(str_1)
if list(str_1)==list(str_2):
   print("same")
else:
   print("different")

Enter the string:wow
same

# SETS

In [4]:
a = set()
print(a)
print(type(a))

set()
<class 'set'>

In [6]:
a = {4,5,8,1,6,4,5,8,1,6}
print(a)

{1, 4, 5, 6, 8}

In [7]:
a[0]
print(a)

TypeError: 'set' object is not subscriptable

# UNION IN SET

In [8]:
a = {'tony','steve','banner'}
b = {'peter','stephen','quill'}
print(a|b)

{'quill', 'banner', 'tony', 'peter', 'stephen', 'steve'}

In [9]:
print(a.union(b))

{'quill', 'banner', 'tony', 'peter', 'stephen', 'steve'}

In [10]:
print(a.union('peter','stephen','quill'))

{'p', 'u', 'tony', 'q', 't', 'l', 'n', 'e', 'h', 'i', 's', 'banner', 'r', 'steve'}

In [11]:
print(a|('peter','stephen','quill'))

TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

In [12]:
print(a.union(('peter','stephen','quill')))

{'quill', 'tony', 'peter', 'stephen', 'banner', 'steve'}

# INTERSECTION IN SETS

In [13]:
a = {'tony','steva','banner','pie'}
b = {'peter','stephen','quill','pie'}
print(a&b)

{'pie'}

In [14]:
print(a.intersection(b))

{'pie'}

# SYMMETRIC DIFFERENCE IN SETS

In [15]:
a = {'tony','steva','banner','nebula'}
b = {'peter','stephen','quill','nebula'}
print(a^b)

{'steva', 'quill', 'tony', 'peter', 'stephen', 'banner'}

# SUBSET OF A SET

In [19]:
a = {'tony','steva','banner'}
b = {'tony','steva','banner','peter','stephen','quill'}
print(a<=b)
print(b<=a)
print(a.issubset(b))
print(b.issubset(a))

True
False
True
False

In [21]:
words = {'qsc','poi','bcv','bst'}
qwer = set('qwertyuiop')
asdf = set('asdfgjkl')
zxcv = set('zxcvbnm')
ans = []
for word in words:
    w = set(word)
    if w<=qwer or w<=asdf or w<=zxcv:
        ans.append(word)
print(ans)

['poi', 'bcv']

# ADD,REMOVE AND DISCARD

In [22]:
a = {'tony','steva','banner'}
a.add('thor')
print(a)

{'banner', 'tony', 'steva', 'thor'}

In [23]:
a.add('peter','strange')
print(a)

TypeError: set.add() takes exactly one argument (2 given)

In [24]:
a.remove('thor')
print(a)

{'banner', 'tony', 'steva'}

In [25]:
a.discard('banner')
print(a)

{'tony', 'steva'}

In [26]:
a.clear()
print(a)

set()

# POP AND CLEAR

In [28]:
a = {'tony','thor','steva','banner'}
a.pop()
print(a)

{'tony', 'steva', 'thor'}

In [29]:
a.pop()
print(a)

{'steva', 'thor'}

# FROZENSET

In [30]:
a = frozenset(['tony','thor','banner','steva'])
print(a)
print(type(a))

frozenset({'steva', 'banner', 'tony', 'thor'})
<class 'frozenset'>

In [31]:
a.pop()
print(a)

AttributeError: 'frozenset' object has no attribute 'pop'

In [32]:
a.add('riya')
print(a)

AttributeError: 'frozenset' object has no attribute 'add'

In [33]:
a = frozenset(['tony','thor','steva','banner'])
b = {'tony','thor'}
a = a&b
print(a)

frozenset({'tony', 'thor'})

In [34]:
a = frozenset(['tony','thor','steva','banner'])
print(id(a))
b = {'tony','thor'}
a = a&b
print(a)
print(id(a))

1483022892832
frozenset({'tony', 'thor'})
1483022891264

In [35]:
l = list(range(1,51))
print(l)
count=0
a = int(input("Enter a number:"))
for i in l:
    if i%a == 0:
        count+=1
print(count)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
Enter a number:3
16

In [37]:
l = [2,3,6,78,9]
b = len(l)//2
print(l[b])

6

In [38]:
l = [2,3,6,78,9,10]
b = len(l)//2
print(l[b])

78

In [39]:
l = [2,3,6,78,9,10]
b = len(l)//2
c = (len(l)//2)-1
print(l[b],l[c])

78 6

In [40]:
!pip install abhiprime
import abhiprime as ap
ap.next_prime(100)

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000022D3061A490>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/abhiprime/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000022D3061A130>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/abhiprime/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000022D3061AA90>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/abhiprime/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000022D3061AC40>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/abhiprime/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000022D3061ADF0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/abhiprime/
ERROR: Could not find a version that satisfies the requirement abhiprime (from versions: none)
ERROR: No matching distribution found for abhiprime

ModuleNotFoundError: No module named 'abhiprime'

# FUNCTIONS IN PYTHON

In [41]:
a = [1,5,7,8]
a.sort()
print(a)

[1, 5, 7, 8]

In [45]:
a = [5,7,1,8]
print(sorted(a))
print(a)

[1, 5, 7, 8]
[5, 7, 1, 8]

In [46]:
def sq_num(n):
    return n**2
sq_num(5)

25

In [48]:
def sq_num(m,n=0):
    return n**2
sq_num(5)

0

In [51]:
def sq_num(n,m=0):
    return n+m**2
sq_num(1,5)

26

In [52]:
def sq_num(n,m=0):
    return n+m**2
sq_num(1)

1

In [53]:
def sq_num(n,m):
    return n+m**2
sq_num(1,5)

26

In [54]:
def sq_num(n,m):
    return n+m**2
sq_num(m=5,n=1)

26

In [55]:
def sq_list(l):
    b = []
    for i in l:
        b.append(i**2)
    return b
l = [1,2,3,4]
sq_list(l)

[1, 4, 9, 16]

# MAXIMUM BETWEEN TWO NUMBERS

In [56]:
def max_num(a,b):
    if a>b:
        return a
    else:
        return b
max_num(4,7)

7

In [59]:
def sq_list(l):
    b = []
    for i in l:
        if i>2:
            b.append(i)
    return b
l = [1,2,3,4]
sq_list(l)

[3, 4]

In [60]:
def sq_num(m):
    return m**2
sq_num(5)
a=lambda m:m**2
print(a(5))

25

In [61]:
l = [1,2,3,4]
print(list(map(lambda i:i**2,l)))

[1, 4, 9, 16]

In [62]:
l = [1,2,3,4]
print(list(filter(lambda i:i>2,l)))

[3, 4]

In [63]:
l = [1,2,3,4]
print(list(map(lambda i:i>2,l)))

[False, False, True, True]

In [64]:
def sq(n):
    return n**2
sq(8)
print(sq(8))

64

In [65]:
def sq(n):
    return n**2
f=sq
f(8)
print(sq(8))

64

In [66]:
m=1
def sq(n):
    m=n**2
    return m
print(m)
print(sq(8))

1
64

In [67]:
m=10
def global_check():
    m=20
    print("Inside the function:",m)
global_check()
print("Outside the function:",m)

Inside the function: 20
Outside the function: 10

In [68]:
m=10
def global_check():
    print("Inside the function:",m)
global_check()
print("Outside the function:",m)

Inside the function: 10
Outside the function: 10

In [72]:
def outer():
    x='outer value'
    def inner():
        x="inner value"
        print(x)
    inner()
    print(x)
outer()

inner value
outer value

In [ ]:
def outer():
    x='outer value'
    def inner():
        x="inner value"
        print(x)
    inner()
    print(x)
outer()

# CLOSURE FUNCTION

In [2]:
#When an inner function can access the outer function variable such functions are called closure function.
def add_to_fun(val1):
    def add_fun(val2):
        return val1+val2
    return add_fun
add_fun=add_to_fun(5)
add_fun(4) #print(add_fun(4))

9

In [3]:
def outer_fun():
    msg="python for fun"
    def inner_fun():
        print(msg)
    return inner_fun()
outer_fun()

python for fun

In [5]:
def outer_fun():
    msg="python for fun"
    def inner_fun():
        print(msg)
    return inner_fun()
new_fun=outer_fun
print(new_fun())

python for fun
None

In [1]:
def outer_fun():
    msg="python for fun"
    def inner_fun():
        print(msg)
    return inner_fun
new_fun=outer_fun()
print(new_fun())

python for fun
None

In [3]:
def outer_fun():
    msg="python for fun"
    def inner_fun():
        print(msg)
    return inner_fun
new_fun=outer_fun()
new_fun._name_

NameError: name 'new_fun_name_' is not defined

# TO HIDE THINGS/IMPLEMENTATIONS OF FUNCTIONS

In [4]:
def div_op(a,b):
    return a/b
div_op(5,2)   #print(div_op(5,2))

2.5

# DECORATOR-@

In [5]:
def check_div_op(func):
    def inside(a,b):
        if b==0:
            print("cannot divide by zero")
            return
        func(a,b)
    return inside

In [6]:
@check_div_op
def div_op(a,b):
    return a/b
div_op(5,0)

cannot divide by zero

In [7]:
def sq_num(a):
    res = []
    for i in a:
        res.append(i**2)
    return res
a=[5,2,11,6,8]
print(sq_num(a))

[25, 4, 121, 36, 64]

In [8]:
###generator
def sq_num(a):
    res = []
    for i in a:
        yield(i**2)
    return res
a=[5,2,11,6,8]
print(sq_num(a))

<generator object sq_num at 0x0000024415B37970>

In [9]:
def sq_num(a):
    res = []
    for i in a:
        yield(i**2)
        return res
a=[5,2,11,6,8]
print(next(sq_num(a)))

25

In [10]:
def sq_num(a):
    res = []
    for i in a:
        yield(i**2)
a=sq_num([5,2,11,6,8])
print(next(a))
print(next(a))
print(next(a))
print(next(a))

25
4
121
36

In [11]:
a=5
b=0
print(a/b)
print("well done")

ZeroDivisionError: division by zero

In [12]:
###CAPTION HANDLING
a=5
b=0
try:
    print(a/b)
except Exception as e:
    print(e)
print("Well DONE")

division by zero
Well DONE

In [13]:
#GUESS THE NUMBER GAME(GUI)
num=1
guess=int(input("Enter a number:"))
if guess<num:
    print("Guess Lesser No.")
if guess>num:
    print("Guess greater no.")
else:
    print("You won a ipsd")

Enter a number:6
Guess greater no.

In [14]:
num=1
guess=int(input("Enter a number:"))
while guess!=num:
    if guess<num:
        print("Guess lesser no.")
    elif guess>num:
        print("Guess greater no.")
        guess=int(input("Enter a number:"))
print("You won an ipsd")

Enter a number:6
Guess greater no.
Enter a number:1
You won an ipsd

In [ ]:
from random import randint
num=randint(1,5)
guess=int(input("Enter a number:"))
while guess!=num:
    print("your guess is wrong...try again!")
    guess=int(input("Enter a number:"))
print("You won an ipsd")

Enter a number:2
your guess is wrong...try again!
Enter a number:3
your guess is wrong...try again!

In [ ]:
###GUESS THE NUMBER GAME(GUI)
num=1
guess=int(input("Enter a number:"))
while guess!=num:
    print("Your guess is wrong...try again")
    guess=int(input("Enter a number:"))
print("You won an ipsd")